body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
.left{
  float:left;
  width:50%;
  overflow:hidden;
  }
.right{
float:left;
width:50%;
overflow:hidden;
} 

.nav ul {
  display: flex;
  background-color: #02b3e4;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #252525;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  border: 1px solid rgba(0,0,0,.29);
  font-size: 16px;
  width: 250px;
  position: relative; 
  width: 13.75rem;
  background-color: #02ccba;
  border: .125rem solid transparent;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inputarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 50px;
}
